{
  "name": "jabext_experimental",
  "description": "JabRef Browser Extension (experimental) - fulltext bridge",
  "path": "@BRIDGE_PATH@",
  "type": "stdio",
  "allowed_extensions": [
    "browser-extension-experimental@jabref"
  ]
}
